@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
  min-height: 2000px;
  background-color: 	#FEFEFE;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; 
}
img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.navbar-static-top {
  margin-bottom: 0px;
  background-color: #802040;
  padding-top: 0px;
  margin-top: 0px;
}
#logo{
	margin-top: -8px;
}
#map {
		margin: auto;
    margin-top: 15px;
		width: 80%;
        height: 500px;
        -webkit-border-radius: 10px;
    -moz-border-radius: 16px;
    border-radius: 16px;
      }

#daname{
	color: white;
	font-family: Helvetica;
	font-size: 22px;
	padding-top: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 

}

.nav .navbar-nav .navbar-right{
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 
}

.slider.slider-horizontal{
  margin: auto;
  padding: 20px;
  width: 500px;
}
.slider-handle{
  background-color: #701030;
  width: 40px;
  height: 18px;
  background-image: linear-gradient(to bottom, #c42b7f 0%, #74103e 100%);

  
}

.slider-handle.round{
  border-radius: 3px;
}
#centerbartop{
  width: 80%;
  text-align:center;
  margin: auto;
  padding-top: 18px;
  overflow: hidden;
  z-index: 1050;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"]{
  float:right;
  position: absolute;
  z-index: 1050;
  top: 80px;
  right: 10%;
  margin-bottom: -10px;
  font-family: Roboto;

}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
  margin-left: -20px;
}

#dapick{
  float: right;
}

#centerbar{
  width: 100%;
  text-align:center;
  margin: auto;
  padding-top: 18px;
}
select.form-control {
    -webkit-appearance: menulist;
}

#chart{
  overflow: hidden;
}