@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  min-height: 2000px;
  background-color: 	#FEFEFE;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #802040;
  padding-top: 0px;
  margin-top: 0px;
}
#logo{
	margin-top: -8px;
}
#map {
		margin: auto;
		width: 80%;
        height: 500px;
        -webkit-border-radius: 10px;
    -moz-border-radius: 16px;
    border-radius: 16px;
      }

#daname{
	color: white;
	font-family: Helvetica;
	font-size: 22px;
	padding-top: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 

}

.nav .navbar-nav .navbar-right{
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}
